@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

&:root{
  --bg-primary : #121212;
  --gradient-from: #CB69C1;
  --gradient-to: #6C72CB
}


body {
  background-color: var(--bg-primary);
}

.__header-navs {
  @apply relative cursor-pointer text-slate-200 font-poppins text-base tracking-[3px] font-extralight
}

.__header-navs::after {
  @apply absolute content-[''] -bottom-2 left-0 rounded-xl bg-gradient-to-r from-[#CB69C1] to-[#6C72CB] h-[3px] w-0 duration-500
}

.__header-navs::after:hover {
  @apply w-full
}

.__gradient-text {
  @apply bg-gradient-to-r from-[var(--gradient-from)] to-[var(--gradient-to)] bg-clip-text text-transparent
}

#projects > h1 {
  @apply relative mt-2 mx-4 
}

#projects > h1::after {
  @apply absolute content-[''] left-[10.25rem] top-[50%] right-0 md:right-[60%] border-[.120rem] border-slate-100
}

